* {
    transition: all 0.3s ease;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

body {
    margin: 0;
}

header {
    width: 100vw;
    height: 600px;
    margin: 0;
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    color: rgb(51, 51, 51);
    margin-bottom: 5px;
}

h5 {
    color: gray;
    margin: 0;
}

.links {
    width: 100vw;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
}

.section img {
    width: 50%;
    height: 100%;
}